@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Poppins", sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }

.navbar{
    height: 90px;
    width: 350px;
}



#logo{
    margin-top: 45px;
    margin-left: 170px;
    font-size: 1.5em;
}

.linkContainer{
    margin-top: 45px;
    margin-left: 470px;
}



